$prefix: flyx !default;
$primary: #514982 !default;
$border: #c2bfdc !default;
$draggable-bg: #f5f5fa !default;
$input-bg: #e6e4f0 !default;
$font-family-sans: 'Inter', Arial, sans-serif !default;

$drop-area-border: #51498240 !default;
$drop-area-hover: #bbb7cebf !default;
$drop-area-icon-bg: #fff !default;
$drop-area-icon-border: #9a97afbf !default;
$drop-area-icon-squares: #9a97af80 !default;