@use 'variables';
@use 'components/themes/media-library-pro';

// TODO: REMOVE this
body {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}